.skills-card {
    border-radius: 0.65rem;
    border: 1.5px solid var(--color-secundario);
    padding: 2.5rem;
    text-align: center;
    backdrop-filter: blur(1rem);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills-card:hover,
.skills-card.active {
    background: linear-gradient(180deg, var(--skill-card-s) 0%, var(--skill-card-p) 100%);
}

.skills-card span {
    font-size: 1.2rem;
    font-weight: 400;
}


.skill-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--skill-card-s);
    border-radius: 0.65rem;
    border: 1.5px solid var(--color-secundario);
    position: absolute;
    top: -1rem;
    left: -1rem;
} 

.skill-icon img {
    width: 2.1rem;
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

@media (max-width: 1025px) {
    .skills-cards {
        padding: 2rem;
    }

    .skills-card span {
        font-size: 1rem;
    }

    .skill-icon {
        width: 3rem;
        height: 3rem;
    }

    .skill-icon img {
        width: 2rem;
    }
}

@media (max-width: 768px) {
    .skills-card span {
        font-size: 0.9rem;
    }

    .skills-icon img {
        width: 1.8rem;
    } 
}


@media (max-width: 600px) {
    .skills-card {
        margin-left: -10px;
        padding: 1.5rem;
    }

    .skills-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .skill-card span {
        font-size: 0.8rem;
        
    }

    .skills-icon img {
        width: 1rem;
    }
}































